<a href="https://colab.research.google.com/github/AmpongJkevin2/CPE-103-OOP-1-A/blob/main/python_fudemental.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

python indentation

In [1]:
if 5 > 2 :
  print("Five is greater than two!")

Five is greater than two!

Python Comment

In [2]:
# This is comment
print("Hello, World")

Hello, World

Python variable

In [7]:
z = 1
a, b=0, -1
c = "Sally"
print(a)
print(b)
print(c)

0
-1
Sally

Python Casting

In [9]:
b = "Sally" #This is type of string
b = int(4)
b = float(4)
print(b)

4.0

python Type() funtion

In [10]:
x = 5
y = "john"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

"Double Quote" and 'Single Quote'

In [11]:
y = "john"
y = 'john'
print(y)

john

Case Sentive

In [12]:
a = 4
A = "Sally"
print(a)
print(A)

4
Sally

Multiple Variable

In [13]:
x, y, z = "One", "Two", "Three"
print(x)
print(y)
print(z)

One
Two
Three

Single value to Multiple Variable

In [15]:
x = y = z = "four"
print(x)
print(y)
print(z)

four
four
four

Output Variable

In [17]:
x = "enjoying"
print("Python programming is " + x)

Python programming is enjoying

Arithmetic Operation

In [19]:
x = 10
y = 3
print(x**y)
print(x/y)
print(x//y)

1000
3.3333333333333335
3

Assigment operators

In [23]:
x = 6
y = 9
x *= y
print(x)

54

Logical operation

In [27]:
x = 5
y = 2
x > y

True

Bitwise operators

In [41]:
#decimal to binary
#10 = 1010

x = 10
x>>3
print(x)

10

Application 1

In [62]:
#Application 1

#Rectangle
print("Calculate the Area of rectangle")
width = float(input("Enter width: "))
Height = float(input("Enter Height: "))
area = width * Height
print("Area of square: ", area)

#Triangle
print("Calculate the area of triangle")
base = float(input("Enter base: "))
vertical_height = float(input("Enter vertical Height: "))
area = 1/2 * base * vertical_height
print("Area of Triangle: ", area)

#Square
print("Calculate the area of square")
length_side = float(input("Enter length of side: "))
area = length_side**2
print("Area of square: ", area)

Calculate the Area of rectangle
Enter width: 2
Enter Height: 5
Area of square:  10.0
Calculate the area of triangle
Enter base: 5
Enter vertical Height: 3
Area of Triangle:  7.5
Calculate the area of square
Enter length of side: 3
Area of square:  9.0